{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <legend>{% trans "Thanks for activating your account!" %}</legend>
    <p>{% blocktrans with name=settings.SITE_NAME %}Your {{ name }} account has been confirmed. Login to start exploring trees near you.{% endblocktrans %}</p>
    <p class="text-center margin-top">
        <a href="{% url 'auth_login' %}" class="btn btn-primary btn-lg">Login to {{ settings.SITE_NAME }}</a>
    </p>
  </div>
</div>
{% endblock %}
