{% extends "base.html" %}
{% load i18n %}
{% load util %}

{% block page_title %} | {% trans "Login" %}{% endblock %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <form method="post" action=".">
        <fieldset>
            {% csrf_token %}
            <legend>{% trans "Log in to" %} {{ settings.SITE_NAME }}</legend>
            {% if form.non_field_errors %}
                <ul class='errorlist'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
          {% for field in form %}
                <div class="field">
                    {% if field.name == "username" %}
                        <a href="{% url 'forgot_username' %}" class="pull-right">
                            {% trans "Recover my username" %}
                        </a>
                    {% endif %}
                    {% if field.name == "password" %}
                        <a href="{% url 'auth_password_reset' %}" class="pull-right">
                            {% trans "Reset my password" %}
                        </a>
                    {% endif %}
                    {{ field.label_tag}}
                    {{ field|tabindex:forloop.counter }}
                    {{ field.errors|safe }}
                </div>
            {% endfor %}
            <button type="submit" value="{% trans 'Log in' %}" class="btn btn-lg btn-primary" tabindex="3">{% trans 'Log in' %}</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
    </form>
  </div>
  <div class="well login-signup-panel signup-option">
      <h3>{% trans "Don't have an account?" %}</h3>
      <a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}">{% trans "Register" %}</a>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
(function (require) {
    var $ = require('jquery');
    $(function () {
        $('input[name="username"]').focus();
    })
})(require);
</script>
{% endblock scripts %}
