{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <legend>{% trans "Reset your Password" %}</legend>
    <p>{% blocktrans with name=settings.SITE_NAME %}Forgot the password for your {{ name }} account? Enter your email address and click "Send" to receive info on resetting your password.{% endblocktrans %}</p>
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" class="btn btn-primary" value="{% trans 'Send' %}" />
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    (function (require) {
        var $ = require('jquery')
        $("input:text:visible:first").addClass('form-control').focus();
    }(require))
</script>
{% endblock %}
