{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <legend>{% trans "Account created!" %}</legend>
	  <p>{% blocktrans with name=settings.SITE_NAME %}Your {{ name }} account has been created. You will receive an activation email shortly; please use it to confirm your account.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
