{% extends "mapadmin/admin.html" %}
{% load i18n %}

{% block page_title %} | {% trans "Comment Review" %} {% endblock %}

{% block comment_tab %}class="active"{% endblock comment_tab %}

{% block management_content %}

<div id="comments-content" class="content">
  {% include "otm_comments/partials/moderation.html" %}
</div>

{% endblock management_content %}


{% block scripts %}
<script>
(function(require) {
    require('otm_comments/moderation')({
      container: '#comments-content'
    });
})(require);
</script>
{% endblock scripts %}
