{% extends "treemap:instance_base.html" %}
{% load instance_config %}
{% load i18n %}
{% load l10n %}
{% load auth_extras %}
{% load form_extras %}

{% block page_title %} | {% trans "Admin" %} {% endblock %}

{% block activeexplore %}
{% endblock %}

{% block activerecentedits %}
{% endblock %}

{% block activemanagement %}
active
{% endblock %}

{% block subhead %}
{% endblock subhead %}

{% block header %}
{% load i18n %}
<div class="header">
  {% block logo %}
  {{ block.super }}
  {% endblock logo %}
</div> <!-- end header -->
{% endblock header %}

{% block head_extra %}
<style>
    #management {
        width: auto;
        margin: 90px;
    }
    /*
    .content.management {
        position: absolute;
        overflow: hidden;
        margin: 0;
        width: 100%;
        top: 205px;
    }
    .management .toc {
        margin-top: 20px;
    }
    .management .management-part {
        margin-top: 20px;
        visibility: hidden;
    }
    .management .management-part.active {
        margin-top: 20px;
        visibility: visible;
    }
    .outline {
        border: 1px solid black;
    }
    */
    .nav-pills li.active a {
        background-color: #56abb2;
    }
</style>
{% endblock head_extra %}

{% block content %}
<!-- <div class="image-background"></div> -->
<div id="global-error" class="alert alert-danger" role="alert" style="display: none;"></div>
<div id="management" class="container contained">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3 toc">
                <ul id="toc" role="tablist" class="nav nav-pills nav-stacked">

                {% block management_toc %}

                    {% trans "Map Info" as label %}
                    <li role="presentation" {% block info_tab %}{% endblock info_tab %}>
                        <a href="{% url 'map_info' instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
                    </li>

                    {% trans "Upload Data" as label %}
                    <li role="presentation" {% block upload_tab %}{% endblock upload_tab %}>
                        <a href="{% url 'upload' instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
                    </li>

                    {% trans "Photo Review" as label %}
                    <li role="presentation" {% block photo_tab %}{% endblock photo_tab %}>
                        <a href="{% url 'photo_review_full' instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
                    </li>

                    {% trans "Comment Review" as label %}
                    <li role="presentation" {% block comment_tab %}{% endblock comment_tab %}>
                        <a href="{% url 'comments' instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
                    </li>

                    {% trans "Users" as label %}
                    <li role="presentation" {% block users_tab %}{% endblock users_tab %}>
                        <a href="{% url 'useradmin' instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
                    </li>

                    {% trans "Pages" as label %}
                    <li role="presentation" {% block pages_tab %}{% endblock pages_tab %}>
                        <a href="{% url 'staticpages' instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
                    </li>

                {% endblock management_toc %}

                </ul>
            </div>
            <div class="col-md-9 tab-content">

            {% block management_content %}{% endblock management_content %}

            </div>

        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
<script>
{% localize off %}
(function(require, config) {
    var $ = require('jquery')
//         BU = require('treemap/baconUtils')

    var adminModule = (function() {
        return function(id) {
            $(id).addClass('active')
        }
    }())

    // require('adminModule')('#info-tab')
    // adminModule('#info-tab')

//     // var infoModule = (function() {
//     //     exports = {}
//     //     exports.init = function(config) {
//     //         // $(config.pane).load(config.url)
//     //         $(config.tab).click(function(e) {
//     //             e.preventDefault()
//     //             $(this).tab('show')
//     //         })
//     //     }
//     //     return exports
//     // }())


//     // var uploadModule = (function() {
//     //     var _tab = null
//     //     var exports = {}
//     //     exports._load = function(config) {
//     //         $(config.pane).load(config.url, function() {
//     //             console.log('loading')
//     //             _tab = $(config.tab)[0]
//     //             config.iAmVisibleProperty = $('a[role="tab"]').asEventStream('click').map(function(e) {
//     //                 return e.target == _tab
//     //             }).toProperty(true)
//     //             require('importer/importsList').init(config)
//     //         })
//     //     }
//     //     exports.init = function(config) {
//     //         $(config.tab).click(function(e) {
//     //             e.preventDefault()
//     //             if (_tab == null) {
//     //                 _load(config)
//     //             }
//     //             $(this).tab('show')
//     //         })
//     //     }
//     //     return exports
//     // }())

//     var adminModule = (function() {
//         $('#toc li a').click(function(e) {
//             e.preventDefault()
//             $(this).tab('show')
//         })

//         var exports = {}
//         exports.init = function(config) {
//             for (var ele in config) {
//                 var c = config[ele]
//                 $(ele).asEventStream('click').take(1).onValue(function(e) {
//                     $($(ele).attr('href')).load(c.url, c.callback)
//                 })
//             }
//         }
//         return exports
//     }())

//     // var photoModule = (function() {

//     // }())

//     adminModule.init({
//         '#upload-tab': {
//             url: '{% url "importer:list_imports" instance_url_name=request.instance.url_name %}',
//             callback: function() {
//                 require('importer/importsList').init({
//                     startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
//                     refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}",
//                     iAmVisibleProperty: $('a[role="tab"]').asEventStream('click').map(function(e) {
//                         return e.target == $('#upload-tab')[0]
//                     }).toProperty(true)
//                 })
//             }
//         },
//         '#photo-tab': {
//             url: 'http://trees.gis.usu.edu/logan/photo_review_full'
//         }
//     })

//     require('mapadmin/info').init({
//         updateUrl: "{% url 'map_info' instance_url_name=request.instance.url_name %}" //,
//         // globalErrorSection: '#global-error',
//     })
//     // require('mapadmin/info').init({
//     //     config: otm.settings,
//     //     startInEditMode: {% if editmode %}true{% else %}false{% endif %},
//     //     inlineEditForm: {
//     //         form: '#map-form',
//     //         edit: '#edit-map',
//     //         save: '#save-edit-map',
//     //         cancel: '#cancel-edit-map',
//     //         displayFields: '[data-class="display"]',
//     //         editFields: '[data-class="edit"]',
//     //         validationFields: '[data-class="error"]'
//     //     },
//     // })


//     // $('#toc li a').click(function(e) {
//     //     e.preventDefault()
//     //     $(this).tab('show')
//     // })

//     // function load(tab, url, callback) {
//     //     var tab = $(tab)
//     //     tab.asEventStream('click').take(1).onValue(function(e) {
//     //         $(tab.attr('href')).load(url, callback)
//     //     })
//     // }

//     // load('#upload-tab', '{% url "importer:list_imports" instance_url_name=request.instance.url_name %}', function() {
//     //     require('importer/importsList').init({
//     //         startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
//     //         refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}",
//     //         config.iAmVisibleProperty: $('a[role="tab"]').asEventStream('click').map(function(e) {
//     //             return e.target == _tab
//     //         }).toProperty(true)
//     //     })
//     // })




//     // $('#upload-tab').asEventStream('click').take(1).onValue(function(e) {
//     //     $('#importer').load('{% url "importer:list_imports" instance_url_name=request.instance.url_name %}', function() {
//     //         require('importer/importsList').init({
//     //             startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
//     //             refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}",
//     //             config.iAmVisibleProperty: $('a[role="tab"]').asEventStream('click').map(function(e) {
//     //                 return e.target == _tab
//     //             }).toProperty(true)
//     //         })
//     //     })
//     // })

//     // $('#upload-tab').asEventStream('click').take(1).onValue(function(e) {
//     //     uploadModule._load({
//     //         tab: '#upload-tab',
//     //         pane: '#importer',
//     //         url: '{% url "importer:list_imports" instance_url_name=request.instance.url_name %}',
//     //         startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
//     //         refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}"
//     //     })
//     // })

//     // console.log(window['uploadModule'])
//     // infoModule.init({
//     //     tab: '#info-tab',
//     //     pane: '#map-info',
//     //     url: '{% url "map_info" instance_url_name=request.instance.url_name %}'
//     // })

//     // var p = $("li[role='presentation']").asEventStream('click').map(function(e) {
//     //     // var r = e.target.hash == '#importer'
//     //     console.log('here')
//     //     // return r
//     //     return true
//     // }).toProperty(false);
//     // uploadModule.init({
//     //     tab: '#upload-tab',
//     //     pane: '#importer',
//     //     url: '{% url "importer:list_imports" instance_url_name=request.instance.url_name %}',
//     //     startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
//     //     refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}"
//     // })

})(require, otm.settings)
{% endlocalize %}
</script>
{% endblock scripts %}
