{% extends "treemap:instance_base.html" %}
{% load instance_config %}
{% load i18n %}
{% load l10n %}
{% load auth_extras %}
{% load form_extras %}
{% load group_extras %}

{% block page_title %} | {% trans "Admin" %} {% endblock %}

{% block activeexplore %}
{% endblock %}

{% block activerecentedits %}
{% endblock %}

{% block subhead %}
{% endblock subhead %}

{% block header %}
{% load i18n %}
<div class="header">
  {% block logo %}
  {{ block.super }}
  {% endblock logo %}
</div> <!-- end header -->
{% endblock header %}

{% block head_extra %}
<style>
    .content.management {
        position: absolute;
        overflow: hidden;
        margin: 0;
        width: 100%;
        top: 205px;
    }
    .management .toc {
        margin-top: 20px;
    }
    .management .management-part {
        margin-top: 20px;
        visibility: hidden;
    }
    .management .management-part.active {
        margin-top: 20px;
        visibility: visible;
    }
    .outline {
        border: 1px solid black;
    }
    .nav-pills li.active a {
        background-color: #56abb2;
    }
</style>
{% endblock head_extra %}

{% block content %}
<!-- <div class="image-background"></div> -->
<div id="global-error" class="alert alert-danger" role="alert" style="display: none;"></div>
<div class="container contained profile">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3 toc">
                <ul id="toc" role="tablist" class="nav nav-pills nav-stacked">

                {% block management_tabs %}
                    {% include "mapadmin/partials/tab.html" with id="info-tab" label="Map Info" panel="map-info" active=True %}
                    {% include "mapadmin/partials/tab.html" with id="upload-tab" label="Upload Data" panel="importer" %}
                    {% include "mapadmin/partials/tab.html" with id="photo-tab" label="Photo Review" panel="photos" %}
                {% endblock management_tabs %}

                </ul>
            </div>
            <div class="col-md-9 tab-content">

            {% block management_panels %}
                {% include "mapadmin/partials/panel.html" with id="map-info" active=True template="mapadmin/info.html" %}
                {% include "mapadmin/partials/panel.html" with id="importer" %}
                {% include "mapadmin/partials/panel.html" with id="photos" %}
            {% endblock management_panels %}

            </div>

        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
<script>
{% localize off %}
(function(require, config) {
    var $ = require('jquery'),
        BU = require('treemap/baconUtils')



    // var infoModule = (function() {
    //     exports = {}
    //     exports.init = function(config) {
    //         // $(config.pane).load(config.url)
    //         $(config.tab).click(function(e) {
    //             e.preventDefault()
    //             $(this).tab('show')
    //         })
    //     }
    //     return exports
    // }())


    // var uploadModule = (function() {
    //     var _tab = null
    //     var exports = {}
    //     exports._load = function(config) {
    //         $(config.pane).load(config.url, function() {
    //             console.log('loading')
    //             _tab = $(config.tab)[0]
    //             config.iAmVisibleProperty = $('a[role="tab"]').asEventStream('click').map(function(e) {
    //                 return e.target == _tab
    //             }).toProperty(true)
    //             require('importer/importsList').init(config)
    //         })
    //     }
    //     exports.init = function(config) {
    //         $(config.tab).click(function(e) {
    //             e.preventDefault()
    //             if (_tab == null) {
    //                 _load(config)
    //             }
    //             $(this).tab('show')
    //         })
    //     }
    //     return exports
    // }())

    var adminModule = (function() {
        $('#toc li a').click(function(e) {
            e.preventDefault()
            $(this).tab('show')
        })

        var exports = {}
        exports.init = function(config) {
            for (var ele in config) {
                var c = config[ele]
                $(ele).asEventStream('click').take(1).onValue(function(e) {
                    $($(ele).attr('href')).load(c.url, c.callback)
                })
            }
        }
        return exports
    }())

    // var photoModule = (function() {

    // }())

    adminModule.init({
        '#upload-tab': {
            url: '{% url "importer:list_imports" instance_url_name=request.instance.url_name %}',
            callback: function() {
                require('importer/importsList').init({
                    startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
                    refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}",
                    iAmVisibleProperty: $('a[role="tab"]').asEventStream('click').map(function(e) {
                        return e.target == $('#upload-tab')[0]
                    }).toProperty(true)
                })
            }
        },
        '#photo-tab': {
            url: 'http://trees.gis.usu.edu/logan/photo_review_full'
        }
    })

    require('mapadmin/info').init({
        updateUrl: "{% url 'map_info' instance_url_name=request.instance.url_name %}" //,
        // globalErrorSection: '#global-error',
    })
    // require('mapadmin/info').init({
    //     config: otm.settings,
    //     startInEditMode: {% if editmode %}true{% else %}false{% endif %},
    //     inlineEditForm: {
    //         form: '#map-form',
    //         edit: '#edit-map',
    //         save: '#save-edit-map',
    //         cancel: '#cancel-edit-map',
    //         displayFields: '[data-class="display"]',
    //         editFields: '[data-class="edit"]',
    //         validationFields: '[data-class="error"]'
    //     },
    // })


    // $('#toc li a').click(function(e) {
    //     e.preventDefault()
    //     $(this).tab('show')
    // })

    // function load(tab, url, callback) {
    //     var tab = $(tab)
    //     tab.asEventStream('click').take(1).onValue(function(e) {
    //         $(tab.attr('href')).load(url, callback)
    //     })
    // }

    // load('#upload-tab', '{% url "importer:list_imports" instance_url_name=request.instance.url_name %}', function() {
    //     require('importer/importsList').init({
    //         startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
    //         refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}",
    //         config.iAmVisibleProperty: $('a[role="tab"]').asEventStream('click').map(function(e) {
    //             return e.target == _tab
    //         }).toProperty(true)
    //     })
    // })




    // $('#upload-tab').asEventStream('click').take(1).onValue(function(e) {
    //     $('#importer').load('{% url "importer:list_imports" instance_url_name=request.instance.url_name %}', function() {
    //         require('importer/importsList').init({
    //             startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
    //             refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}",
    //             config.iAmVisibleProperty: $('a[role="tab"]').asEventStream('click').map(function(e) {
    //                 return e.target == _tab
    //             }).toProperty(true)
    //         })
    //     })
    // })

    // $('#upload-tab').asEventStream('click').take(1).onValue(function(e) {
    //     uploadModule._load({
    //         tab: '#upload-tab',
    //         pane: '#importer',
    //         url: '{% url "importer:list_imports" instance_url_name=request.instance.url_name %}',
    //         startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
    //         refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}"
    //     })
    // })

    // console.log(window['uploadModule'])
    // infoModule.init({
    //     tab: '#info-tab',
    //     pane: '#map-info',
    //     url: '{% url "map_info" instance_url_name=request.instance.url_name %}'
    // })

    // var p = $("li[role='presentation']").asEventStream('click').map(function(e) {
    //     // var r = e.target.hash == '#importer'
    //     console.log('here')
    //     // return r
    //     return true
    // }).toProperty(false);
    // uploadModule.init({
    //     tab: '#upload-tab',
    //     pane: '#importer',
    //     url: '{% url "importer:list_imports" instance_url_name=request.instance.url_name %}',
    //     startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
    //     refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}"
    // })

})(require, otm.settings)
{% endlocalize %}
</script>
{% endblock scripts %}
