{% extends "mapadmin/admin.html" %}
{% load l10n %}
{% load i18n %}

{% block page_title %} | {% trans "Upload Data" %} {% endblock %}

{% block upload_tab %}class="active"{% endblock upload_tab %}

{% block management_content %}
<div id="importer"></div>
{% endblock management_content %}

{% block scripts %}
<script>
{% localize off %}
(function(require, config) {
    var $ = require('jquery')
        // BU = require('treemap/baconUtils'),
        // Bacon = require('baconjs')
    $('#importer').load('{% url "importer:list_imports" instance_url_name=request.instance.url_name %}', function() {
        require('importer/importsList').init({
            startImportUrl: "{% url 'importer:start_import' instance_url_name=request.instance.url_name %}",
            refreshImportsUrl: "{% url 'importer:refresh_imports' instance_url_name=request.instance.url_name %}",
            iAmVisibleProperty: $(document).asEventStream('load').toProperty(true)
            // iAmVisibleProperty: $('a[role="tab"]').asEventStream('click').map(function(e) {
            //     return e.target == $('#upload-tab')[0]
            // }).toProperty(true)
        })
    })
})(require, otm.settings)
{% endlocalize %}
</script>
{% endblock scripts %}
