{% load i18n %}
{% load l10n %}
{% load instance_config %}
{% load form_extras %}
{% load mapadmin_tags %}

{% with request.instance as instance %}

<div class="contained topper">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <form id="map-form">
                    <input type="hidden" name="instance.id" value="{{ request.instance.id }}" />
                    <div id="map-details">
                        <div class="form-group">
                        {% trans "Map Name" as name %}
                        {% field name from "instance.name" for request.user withtemplate "treemap/field/div.html" %}
                        </div>
                        <div class="form-group">
                        {% trans "URL" as name %}
                        {% field name from "instance.url_name" for request.user withtemplate "treemap/field/div.html" %}
                        </div>
                        <div class="form-group">
                        {% trans "Public" as name %}
                        {% field name from "instance.is_public" for request.user withtemplate "treemap/field/div.html" %}
                        </div>

                    </div>
                </form>
            </div>
            <div class="row">
                <p>
                    <button id="edit-map"
                            data-class="display"
                            disabled="disabled"
                            data-always-enable="{{ last_effective_instance_user|user_is_admin:instance}}"
                            data-href="{{ request.get_full_path }}"
                            data-disabled-title="{% trans "Editing of the map details is not available to all users" %}"
                            class="btn btn-sm btn-info">{% trans "Edit" %}</button>
                    <button id="save-edit-map" data-class="edit" class="btn btn-sm btn-primary" style="display: none;">{% trans "Save" %}</button>
                    <button id="cancel-edit-map" data-class="edit" class="btn btn-sm" style="display: none;">{% trans "Cancel" %}</button>
                </p>
            </div>
        </div>
    </div>
</div>

{% endwith %}

{% block scripts %}
<script>
{% localize off %}




// (function(require, config) {

//     // var info = (function() {
//     //     var $ = require('jquery'),
//     //         U = require('treemap/utility'),
//     //         inlineEditForm = require('treemap/inlineEditForm'),
//     //         alerts = require('treemap/alerts'),
//     //         History = require('history'),
//     //         statePrompter = require('treemap/statePrompter'),
//     //         csrf = require('treemap/csrf')

//     //     exports.init = function(options) {
//     //        var detailUrl = window.location.href
//     //         if (U.getLastUrlSegment(detailUrl) == 'edit') {
//     //             detailUrl = U.removeLastUrlSegment(detailUrl)
//     //         }

//     //         // Cross-site forgery protection
//     //         $.ajaxSetup(csrf.jqueryAjaxSetupOptions)

//     //         var shouldBeInEditModeBus = new Bacon.Bus()
//     //         var shouldBeInEditModeStream = shouldBeInEditModeBus.merge(
//     //             $(window).asEventStream('popstate').map(function() {
//     //                 return U.getLastUrlSegment() === 'edit'
//     //             })
//     //         );

//     //         var prompter = statePrompter.init({
//     //             warning: options.config.trans.exitWarning,
//     //             question: options.config.trans.exitQuestion
//     //         })

//     //         var form = inlineEditForm.init(
//     //             _.extend(options.inlineEditForm, {
//     //                 config: options.config,
//     //                 updateUrl: detailUrl,
//     //                 // onSaveBefore: onSaveBefore,
//     //                 shouldBeInEditModeStream: shouldBeInEditModeStream,
//     //                 errorCallback: alerts.makeErrorCallback(options.config)
//     //             })
//     //         );

//     //         form.inEditModeProperty.onValue(function(inEditMode) {
//     //             var hrefHasEdit = U.getLastUrlSegment() === 'edit'
//     //             if (inEditMode) {
//     //                 prompter.lock()
//     //                 if (!hrefHasEdit) {
//     //                     History.replaceState(null, document.title, U.appendSegmentToUrl('edit'))
//     //                 }
//     //             } else {
//     //                 prompter.unlock()
//     //                 if (hrefHasEdit) {
//     //                     History.replaceState(null, document.title, U.removeLastUrlSegment())
//     //                 }
//     //             }
//     //         })

//     //         return {
//     //             inlineEditForm: form
//     //         }
//     //     }
//     // }())



//     require('mapadmin/info').init({
//         config: otm.settings,
//         startInEditMode: {% if editmode %}true{% else %}false{% endif %},
//         inlineEditForm: {
//             form: '#map-form',
//             edit: '#edit-map',
//             save: '#save-edit-map',
//             cancel: '#cancel-edit-map',
//             displayFields: '[data-class="display"]',
//             editFields: '[data-class="edit"]',
//             validationFields: '[data-class="error"]'
//         },
//     })
// })(require, otm.settings)
{% endlocalize %}
</script>
{% endblock scripts %}
