{% extends "mapadmin/admin.html" %}
{% load i18n %}
{% load l10n %}
{% load form_extras %}
{% load mapadmin_tags %}

{% block page_title %} | {% trans "Map Info" %} {% endblock %}

{% block info_tab %}class="active"{% endblock info_tab %}

{% block management_content %}
<div class="contained topper">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <form id="map-form">
                    <input type="hidden" name="instance.id" value="{{ request.instance.id }}" />
                    <div id="map-details">
                        <div class="form-group">
                        {% trans "Map Name" as name %}
                        {% field name from "instance.name" for request.user withtemplate "treemap/field/div.html" %}
                        </div>
                        <div class="form-group">
                        {% trans "URL" as name %}
                        {% field name from "instance.url_name" for request.user withtemplate "treemap/field/div.html" %}
                        </div>
                        <div class="form-group">
                        {% trans "Public" as name %}
                        {% field name from "instance.is_public" for request.user withtemplate "treemap/field/div.html" %}
                        </div>

                    </div>
                </form>
            </div>
            <div class="row">
                <p>
                    <button id="edit-map"
                            data-class="display"
                            disabled="disabled"
                            data-always-enable="{{ last_effective_instance_user|user_is_admin:instance}}"
                            data-href="{{ request.get_full_path }}"
                            data-disabled-title="{% trans "Editing of the map details is not available to all users" %}"
                            class="btn btn-sm btn-info">{% trans "Edit" %}</button>
                    <button id="save-edit-map" data-class="edit" class="btn btn-sm btn-primary" style="display: none;">{% trans "Save" %}</button>
                    <button id="cancel-edit-map" data-class="edit" class="btn btn-sm" style="display: none;">{% trans "Cancel" %}</button>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock management_content %}

{% block scripts %}
<script>
{% localize off %}
(function(require, config) {
    require('mapadmin/info').init({
        updateUrl: "{% url 'map_info' instance_url_name=request.instance.url_name %}"
    })
})(require, otm.settings)
{% endlocalize %}
</script>
{% endblock scripts %}
