{% extends "mapadmin/admin.html" %}
{% load l10n %}

{% block management_content %}
<div class="contained topper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div id="result-info" class="alert alert-success" style="display:none"></div>
                <h3>{{ page.name }}</h3>
                <form id="content-form">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ page.id }}" />
                    <textarea name="content" rows="20">{{ page.content }}</textarea>
                    <div id="submit-btn" class="btn">Save</div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock management_content %}

{% block scripts %}
<!--<script src="/djrichtextfield/init.js"></script>-->
<script>
{% localize off %}
(function(require, config) {
    require('mapadmin/staticpage')
//    var $ = require('jquery')
//    //$.ajax({
//    //    url: '/djrichtextfield/init.js',
//    //    dataType: 'script'
//    //})
//    //var huh = require('/djrichtextfield/init.js')($)
//    $.getScript('/djrichtextfield/init.js')($)
//
})(require, otm.settings)
</script>
{% endlocalize %}
{% endblock scripts %}
