{% extends "mapadmin/admin.html" %}
{% load i18n %}

{% block page_title %} | {% trans "Pages" %} {% endblock %}

{% block pages_tab %}class="active"{% endblock pages_tab %}

{% block management_content %}
<div class="contained topper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <ul class="list-group">
                    {% for page in pages %}
                        <a href="{% url 'edit_staticpage' instance_url_name=request.instance.url_name page_id=page.id %}" class="list-group-item">{{page}}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock management_content %}
