{% load i18n %}

{% trans "Map Info" as label %}
<li role="presentation" {% block info_tab %}{% endblock info_tab %}>
    <a href="{% url 'map_admin2' instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
</li>

{% trans "Upload Data" as label %}
<li role="presentation" {% block upload_tab %}{% endblock upload_tab %}>
    <a href="{% url 'map_admin2' instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
</li>

{% trans "Photo review" as label %}
<li role="presentation" {% block photo_tab %}{% endblock photo_tab %}>
    <a href="{% url 'map_admin2' instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
</li>
