{% extends "mapadmin/admin.html" %}
{% load i18n %}
{% load l10n %}
{% load form_extras %}
{% load mapadmin_tags %}

{% block page_title %} | {% trans "Users" %} {% endblock %}

{% block users_tab %}class="active"{% endblock users_tab %}

{% block management_content %}
<div class="contained topper">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
            <h3>{% trans "Current administrators" %}<h3>
                <form id="user-form">
                    <input type="hidden" name="instance.id" value="{{ request.instance.id }}" />
                    <div id="user-details">
                        <table class="table">
                            <tr><th>Username</th><th>Name</th><th>Administrator</th></tr>
                        {% for user in users %}
                            <tr>
                                <td><a href="{% url 'user' username=user.user.username %}">{{ user.user.username }}</a></td>
                                <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
                                {% field from "user.admin" for request.user withtemplate "mapadmin/field/user_td.html" %}
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </form>
            </div>
            <div class="row">
                <p>
                    <button id="edit-users"
                            data-class="display"
                            disabled="disabled"
                            data-always-enable="{{ last_effective_instance_user|user_is_admin:instance}}"
                            data-href="{{ request.get_full_path }}"
                            data-disabled-title="{% trans "Editing of user details is not available to all users" %}"
                            class="btn btn-sm btn-info">{% trans "Edit" %}</button>
                    <button id="save-edit-users" data-class="edit" class="btn btn-sm btn-primary" style="display: none;">{% trans "Save" %}</button>
                    <button id="cancel-edit-users" data-class="edit" class="btn btn-sm" style="display: none;">{% trans "Cancel" %}</button>
                </p>
            </div>

            <div class="row" style="margin-top:40px">
                <h3>{% trans "Find a user" %}<h3>
                <p>{% trans "This will add any found users to the list above so you can edit them, but a new search will lose any previously found users. This means you need to edit a user before running a new search. Only one of the fields below is required." %}</p>
                <p>{% trans "To disable or enable a user account, click on their username and then use the button on lower left of their profile page." %}</p>
                <form id="user-search-form" class="form-inline">
                    <div class="form-group">
                        <label for="firstname">{% trans "First name" %}</label>
                        <input type="text" id="firstname" name="firstname" />
                    </div>
                    <div class="form-group">
                        <label for="lastname">{% trans "Last name" %}</label>
                        <input type="text" id="lastname" name="lastname" />
                    </div>
                    <div class="form-group">
                        <label for="username">{% trans "Username" %}</label>
                        <input type="text" id="username" name="username" />
                    </div>
                    <div style="margin-top:5px">
                        <button id="search-users-btn" type="submit" class="btn btn-sm btn-info">{% trans "Search" %}</button>
                    </div>
                </form>
            </div>


<!--
            <div class="row search-block-wrapper">
                <div class="search-block visible-md visible-lg">
                    <label>{% trans "Search for a user" %}</label>
                    <div class="search-field-group">
                        <a class="typeahead-toggle" id="users-toggle"><i class="icon-menu"></i></a>
                        <input type="text" data-class="user-search" id="users-typeahead" class="form-control" placeholder="Name or username"/>
                        <input name="user.id" data-search-type="IS" type="hidden" id="search-users" />
                    </div>
                </div>
            </div>
            <div class="search-options">
                <a id="perform-user-search" class="btn btn-primary btn-lg btn-block">{% trans "Search" %}</a>
            </div>

-->
        </div>
    </div>
</div>
{% endblock management_content %}


{% block templates %}
{% verbatim %}
<!--
<script id="users-element-template" type="text/x-mustache-template">
  <p>{{username}}</p>
  <p>{{first_name}} {{last_name}}</p>
</script>
-->
{% endverbatim %}
{% endblock templates %}

{% block scripts %}
<script>
{% localize off %}
(function(require, config) {
    require('mapadmin/users').init({
        updateUrl: "{% url 'useradmin' instance_url_name=request.instance.url_name %}",
    })
})(require, otm.settings)
{% endlocalize %}
</script>
{% endblock scripts %}
