<td>
  <div {% include "mapadmin/field/user_attrs.html" with class="display" %}>
    {{ field.display_value|default_if_none:"" }}
  </div>
  <div {% include "mapadmin/field/user_attrs.html" with class="edit" %} style="display: none;">
    {% include "mapadmin/field/user_inputs.html" %}
  </div>
  <div class="text-danger" style="display: none;"
          {% include "mapadmin/field/user_attrs.html" with class="error" %}></div>
</td>
