{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <legend>{% trans "Retrieve your Username" %}</legend>
    <p>{% blocktrans with name=settings.SITE_NAME %}Forgot the username for your {{ name }} account? Enter your email address and click "Send" to receive an email with your username.{% endblocktrans %}</p>
    <form method="post" action=".">
      {% csrf_token %}
      <label>
        {% trans "Email Address" %}
      </label>
      <div class="row">
          <div class="col-md-9">
              <input type="email" name="email" required />
          </div>
          <div class="col-md-3">
              <input type="submit" class="btn btn-block btn-primary" value="{% trans 'Send' %}" />
          </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
