{% extends "mapadmin/admin.html" %}
{% load i18n %}

{% block head_extra %}
{{ block.super }}
<style>
    .thumbnail img {
        width: auto;
        height: auto;
    }
</style>
{% endblock head_extra %}

{% block page_title %} | {% trans "Photo Review" %} {% endblock %}

{% block photo_tab %}class="active"{% endblock photo_tab %}

{% block management_content %}
<div id="photo-container" class="contained topper">
  {% include "treemap/partials/photo_review.html" %}
</div>
{% endblock management_content %}


{% block scripts %}
<script>
(function(require) {
   require('treemap/photoReview').init({
       url: "{% url 'photo_review' instance_url_name=request.instance.url_name %}",
       nextPhotoUrl: "{% url 'photo_review_next' instance_url_name=request.instance.url_name %}",
       container: '#photo-container'
   });
})(require);
</script>
{% endblock scripts %}
