{% extends "treemap:treemap/user.html" %}
{% load i18n %}

{% block scripts %}
{{ block.super }}

{% if last_effective_instance_user.admin and not its_me %}
<script>
    jQuery(function() {
        jQuery('.col-md-3').append('<a id="manage-user" class="btn btn-sm btn-danger">{{ action|title }} User</a>');
        jQuery('#manage-user').click(function() {
            jQuery.getJSON('{% url 'enable_user' instance_url_name=last_effective_instance_user.instance.url_name username=user.username action=action %}', function() { location.reload(); })
        })
    })

</script>
{% endif %}
{% endblock scripts %}
