<li id="{{ id }}" role="presentation" {% block tester %}{% endblock tester %}>
    <a href="{% url href instance_url_name=request.instance.url_name %}" role="tab" aria-controls="{{ label }}">{{ label }}</a>
</li>
